/* Unit test fix */

.bt_bb_headline {
	h1,h2,h3,h4,h5,h6 {
		margin: 0;
		padding: 0;
	}
}

.bt_bb_headline .bt_bb_headline_content a {
    color: inherit;
}

/* Video fix */
.bt_bb_video {
	padding-bottom: 0; 
}

/* Unit Test Fix - Page Headline Overlay */
.bt_bb_section {
	position: relative;
	&[class*="dark_solid"]:before { background-color: rgba(0,0,0,0.5); }
	&[class*="bt_bb_background_overlay"] {
		&:before {
			content: ' ';
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
		.bt_bb_cell {
			position: relative;
			z-index: 1;
		}
	}
}

/* Header */
.bt_bb_headline {
	position: relative;
	.bt_bb_headline_superheadline {
		display: block;
		font-family: "$(headingSuperTitleFont)";
		font-size: 1rem;
		font-weight: 800;
		letter-spacing: 2px;
		margin-bottom: 1.3em;
		color: inherit !important;
		line-height: 1.2;
		.bt_bb_size_huge& {
			font-size: 0.8rem;
		}
		.bt_bb_size_extralarge& {
			font-size: 0.8rem;
		}
		.bt_bb_size_large& {
			font-size: 0.8rem;
			margin-bottom: 0.5em;
		}
		.bt_bb_size_normal& {
			font-size: 0.8rem;
			margin-bottom: 0.8em;
		}
		.bt_bb_size_medium& {
			font-size: 0.7rem;
			margin-bottom: 0.6em;
		}
		.bt_bb_size_small& {
			font-size: 0.7rem;
			margin-bottom: 1em;
		}
		.bt_bb_size_extrasmall& {
			font-size: 0.6rem;
			margin-bottom: 0.5em;
		}
	}
	&.bt_bb_subheadline {
		.bt_bb_headline_subheadline {
			font-family: "$(headingSubTitleFont)";
			font-size: 1.1em;
			margin-top: 0.5em;
			line-height: 1.8em;
			opacity: 0.8;
			font-weight: 200;
			.bt_bb_size_huge& {
				font-size: 1.4rem;
			}
			.bt_bb_size_extralarge& {
				font-size: 1.2rem;
			}
			.bt_bb_size_large& {
				font-size: 1em;
			}
			.bt_bb_size_normal& {
				font-size: 1em;
			}
			.bt_bb_size_medium& {
				font-size: 0.9em;
			}
			.bt_bb_size_small& {
				font-size: 0.9em;
				margin-top: 0.6em;
			}
			.bt_bb_size_extrasmall& {
				font-size: 0.8em;
				margin-top: 0.6em;
			}
		}
	}

	h1,h2,h3,h4,h5,h6 {
		.bt_bb_size_huge& {
			font-size: 4.7em;
		}
		.bt_bb_size_extralarge& {
			font-size: 3.6rem;
		}
		.bt_bb_size_large& {
			font-size: 2.8em;
		}
		.bt_bb_size_normal& {
			font-size: 2.2em;
		}
		.bt_bb_size_medium& {
			font-size: 1.6em;
		}
		.bt_bb_size_small& {
			font-size: 1.4em;
		}
		.bt_bb_size_extrasmall& {
			font-size: 1.1em;
		}
		.bt_bb_font_weight_bold& {
			font-weight: 500;
		}
		.bt_bb_font_weight_bolder& {
			font-weight: 700;
		}
		.bt_bb_dash_top&, .bt_bb_dash_top_bottom& {
			.bt_bb_headline_content:after {
				margin: 0.5em 0 0.3em;
			}
		}
	}
}

.bt_bb_dash_bottom.bt_bb_headline .bt_bb_headline_content:after {
	margin-bottom: 0.4em;
}

.bt_bb_dash_top.bt_bb_headline .bt_bb_headline_content:before {
	margin: 0.1em 0 0.3em;
	width: 1.5em;
}

/* Compact heading style */

body.btHeadingStyle_compact {
	header.bt_bb_headline .bt_bb_headline_superheadline, 
	header.bt_bb_headline .bt_bb_headline_subheadline {
		font-size: 1rem;
		letter-spacing: initial;
		text-transform: initial;
		font-style: italic;
	}

	header.bt_bb_headline.bt_bb_size_extralarge .bt_bb_headline_superheadline,
	header.bt_bb_headline.bt_bb_size_extralarge .bt_bb_headline_subheadline {
		font-size: 1.2rem;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		line-height: 1 !important;
		font-weight: 600;
	}
	.bt_bb_latest_posts_item .bt_bb_latest_posts_item_title {
		line-height: 1em;
		max-height: 2em;
	}
}

/* Progress bar */

.bt_bb_size_small.bt_bb_progress_bar {
	font-size: .8em;
	.bt_bb_progress_bar_inner {
		padding-top: 0.3em;
		padding-bottom: 0.3em;
	}
}

/* Price List */
.bt_bb_price_list {
	border-width: 2px;
	.bt_bb_price_list_price {
		.bt_bb_price_list_amount {
			font-weight: 600;
			font-size: 5em;
		}
		.bt_bb_price_list_currency {
			font-size: 2em;
			padding: 0 0.25em;
		}
	}
	.bt_bb_price_list_title {
		font-size: 1.4em;
	}
	ul li {
		border-width: 1px 0 0;
		border-style: dotted;
	}
	&.bt_bb_price_list_style_show_highlighted {
		box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
	}
}

/* Latest posts */

.bt_bb_latest_posts_item {
	.bt_bb_latest_posts_item_date {
		font-family: "$(headingSuperTitleFont)";
		padding-left: 0;
		font-weight: normal;
		&:before {
			content: '';
		}
	}
	.bt_bb_latest_posts_item_image {
		margin-bottom: 1.5em;
	}
	.bt_bb_latest_posts_item_title {
		@include btMaxLines(2);
		color: $(accentColor);
		font-weight: normal;
	}
	.bt_bb_latest_posts_item_excerpt {
		@include btMaxLines(4);
	}
}

/* Masonry post grid */

.bt_bb_masonry_post_grid .bt_bb_grid_item_post_content {
	padding: 1.5em 2em 2em;
	.bt_bb_grid_item_category {
		padding: 0em;
		.post-categories li {
			a {
				color: inherit;
				background-color: transparent;
				text-transform: uppercase;
				font-size: 0.9em;
				font-weight: 600;
				letter-spacing: 1px;
				margin-bottom: .5em;
				padding: 0;
				&:hover {
					color: $(accentColor);
					background-color: transparent;
				}
				&:before {
					content: ' ';
					display: inline-block;
					margin: -2px 10px 0 10px;
					letter-spacing: inherit;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					line-height: inherit;
					vertical-align: middle;
					background-color: $(accentColor);
				}
			}
			&:first-child {
				a:before {
					display: none;
				}
			}
		}
	}
	.bt_bb_grid_item_post_share {
		margin-top: 1.5em;
		.bt_bb_icon {
			padding: 0 0.5em;
			a {
				color: $(lightFontColor);
				&:hover {
					color: $(accentColor);
				}
			}
		}
	}
	.bt_bb_grid_item_post_title + .bt_bb_grid_item_post_excerpt:not(:empty) {
		margin-top: 0em;
	}
	.bt_bb_grid_item_post_excerpt {
		@include btMaxLines(4);
	}
	.bt_bb_grid_item_meta {
		font-family: "$(headingSubTitleFont)";
		> span {
			font-weight: 400;
		}
	}
	.bt_bb_grid_item_post_title {
		text-transform: capitalize;
	}
}

/* Icons */
.bt_bb_icon {
	&.bt_bb_size_xsmall {
		.bt_bb_icon_holder:before {
			font-size: 1rem;
			width: 2em;
			height: 2em;
		}
		&.bt_bb_style_borderless {
			:leftAlignSelector {
				padding-right: 1em;
			}
			:rightAlignSelector {
				padding-left: 1em;
			}
			:centerAlignSelector {
				padding: 0 1em;
			}
		}
	}
	&.bt_bb_size_small {
		:centerAlignSelector {
			padding: 0 1em;
		}
		.bt_bb_icon_holder:before {
			font-size: 1.4rem;
			width: 2em;
			height: 2em;
		}
		&.bt_bb_style_borderless {
			:leftAlignSelector {
				padding-right: 0.75em;
			}
			:rightAlignSelector {
				padding-left: 0.75em;
			}
			:centerAlignSelector {
				padding: 0 0.75em;
			}
		}
	}
	&.bt_bb_size_normal {
		.bt_bb_icon_holder:before {
			font-size: 2rem;
		}
		&.bt_bb_style_borderless {
			:leftAlignSelector {
				padding-right: 1em;
			}
			:rightAlignSelector {
				padding-left: 1em;
			}
			:centerAlignSelector {
				padding: 0 1em;
			}
		}
	}
	&.bt_bb_size_xlarge {
		.bt_bb_icon_holder:before {
			font-size: 5rem;
		}
	}
	&.bt_bb_style_filled {
		.btShareRow & {
			padding: 0em 0.1em !important;
		}
		:leftAlignSelector {
			padding-right: .4em;
		}
		:rightAlignSelector {
			padding-left: .4em;
		}
		:centerAlignSelector {
			padding: 0 .4em;
		}
	}
}

/* Buttons */
.bt_bb_button {
	font-weight: 700;
	.btSoftRoundedButtons & a { border-radius: $(softBorderRadius) }
	.btHardRoundedButtons & a { border-radius: $(hardBorderRadius) }
	.btContent & a { color: inherit; }
	.bt_bb_button_text {
		letter-spacing: 2px;
	}
	a {
		padding: 1.4em 4.5em;
	}
	&.bt_bb_icon_position_left {
		.bt_bb_icon_holder {
			order: 1;
			margin-right: 1.5em;
		}
		.bt_bb_link {
			.rtl & {
				flex-direction: row-reverse;
			}
		}
	}
	&.bt_bb_icon_position_right {
		.bt_bb_icon_holder {
			margin-left: 1.5em;
		}
		.bt_bb_link {
			.rtl & {
				flex-direction: row-reverse;
			}
		}
	}
	&.bt_bb_style_clean {
		a {
			padding-left: 0;
			padding-right: 0;  
		}
	}
	&.bt_bb_size_small {
		font-size: .6em;
	}
	&.bt_bb_size_medium {
		font-size: .7em;
	}
	&.bt_bb_size_normal {
		font-size: .8em;
	}
	&.bt_bb_size_large {
		font-size: 1em;
	}
}

/* Service */

.bt_bb_service {
	display: block !important;
	.bt_bb_service_content {
		display: flex;
		padding-right: 0px !important;
		padding-left: 0px !important;
		align-items: center;
		padding-bottom: 0.5em;
		:centerAlignSelector {
			flex-flow: column nowrap;
			text-align: center;
			flex-direction: column-reverse;
		}
		:leftAlignSelector {text-align: left; flex-direction: row-reverse;}
		:rightAlignSelector {text-align: right;}
		.bt_bb_icon_holder {
			:centerAlignSelector {margin-bottom: 0.5em;}
			.bt_bb_style_borderless.bt_bb_size_normal& {
				font-size: 2em;
			}
		}
		.bt_bb_service_content_title {
			width: 100%;
			padding: 0 1em;
			font-size: .7rem;
			font-weight: 800;
			letter-spacing: 2px;
			a {
				color: inherit;
			}
		}
	}
	.bt_bb_service_content_text {
		font-family: "$(headingSubTitleFont)";
		opacity: 0.8;
		font-size: .9em;
		font-style: italic;
		:centerAlignSelector {text-align: center;}
		:leftAlignSelector {text-align: left;flex-direction: row-reverse;}
		:rightAlignSelector {text-align: right;}
	}
	&:hover {
		.bt_bb_service_content_title a {
			color: $(accentColor);
		}
	}
	&.bt_bb_size_large .bt_bb_icon_holder {
		:centerAlignSelector {margin-bottom: 0.1em;}
	}
}

@media (max-width: 992px) {
	.bt_bb_service {
		.bt_bb_service_content {
			:rightAlignSelector {text-align: left; flex-direction: row-reverse;}
		}
		.bt_bb_service_content_text {
			:rightAlignSelector {text-align: left;}
		}
	}
}

/* Slider */

.bt_bb_slider.slick-slider button.slick-arrow {
	background-color: rgba(0,0,0,.3);
}

.bt_bb_layout_wide .bt_bb_content_slider.bt_bb_multiple_slides .slick-list {
	position: static !important; 
	max-width: $(baseTemplateWidth)px;
	margin: 0 auto;
	overflow: hidden;
	.slick-track {
		position: relative;
	}
}

.bt_bb_layout_wide .bt_bb_content_slider:not(.bt_bb_multiple_slides) .slick-slider .bt_bb_content_slider_item {
	overflow: hidden;
	.bt_bb_content_slider_item_content {
		@fragment btGutterWidth;
		padding: 0 $(pagePadding)px;
		margin: 0 auto;
	}
}

@media (min-width: math($(baseTemplateWidth) + 2*$(pagePadding), px)) { 
	.bt_bb_layout_boxed_:any(800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600) .slick-slider {
		overflow: visible;
		button.slick-arrow.slick-prev {
			left: -90px;
		}
		button.slick-arrow.slick-next {
			right: -90px;
		}
	}
}

button.slick-arrow {
	background-color: #f6f6f6;
	&:before {
		color: $(lightBorderColor);
		font-weight: 700;
	}
	&:hover {
		opacity: 0.9;
		background-color: $(lightBgColor);
	}
	.bt_bb_arrows_size_large & {
		font-size: 4em;
	}
}

@media (max-width: 1200px) {
	.bt_bb_arrows_size_large button.slick-arrow {
		width: 44px;
		height: 44px;
		&:before {
			font-size: 44px;
			line-height: 44px;
		}
	}
}

@media (max-width: 580px) {
	.bt_bb_content_slider  button.slick-arrow {
		display: none !important;
	}
}

/* Image Slider */
.bt_bb_slider {
	&.bt_bb_show_arrows_hide_arrows {
		button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
			display: none !important;
		}
	}
}

/* Image */
.bt_bb_image {
	/* Showing and hiding the content */
	&.bt_bb_content_display_ {
		&show-on-hover .bt_bb_image_content {
			transform: scale3d(1,1,1);
		}
		&hide-on-hover:hover .bt_bb_image_content {
			opacity: 0;
			transform: scale3d(1,1,1);
		}
	}
}

/* Custom menu */
.bt_bb_custom_menu {
	div ul {
		margin: 0;
		li {
			list-style: none;
			margin-left: 0;
			:centerAlignSelector {display: inline-block; padding: 0 1em; text-transform: uppercase;
				a {
					opacity: 1;
				}
			}
		}
		a {
			color: inherit;
			font-size: 1em;
			opacity: 0.6;
			&:hover {
				color: $(accentColor);
			}
		}
	}
}

/* Rows & Columns */

/* Text indent */
.bt_bb_row {
	.bt_bb_column.bt_bb_padding_text_indent {
		.bt_bb_column_content {
			padding-left: 2em;
			padding-right: 2em;
			.bt_bb_image {
				margin: 0 -2em;
			}
		}
	}
}

/* Gap 0, double padding */
.bt_bb_row.bt_bb_column_gap_0 {
	.bt_bb_padding_double .bt_bb_column_content {
		padding-left: 80px !important;
		padding-right: 80px !important;
	}
}

@media (max-width: 480px) {
	.bt_bb_row.bt_bb_column_gap_0 {
		.bt_bb_padding_double .bt_bb_column_content {
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
	}
}

/* Columns on Responsive */
@media (max-width: 480px) {
	.bt_bb_column {
		&[data-width="3"], &[data-width="2"] {
			flex-basis: 100%;
			max-width: 100% 
		}
	}
	.bt_bb_column_inner {
		&[data-width="3"], &[data-width="2"] {
			flex-basis: 100%;
			max-width: 100% 
		}
	}
}

/* Twitter element */
.bt_bb_twitter .bt_bb_twitter_item .bt_bb_twitter_username {
	margin-bottom: 0.1em;
	font-weight: 600;
}

/* Google & OpenStreet map */ 

.bt_bb_map_content {
	max-width: 1280px;
	margin: auto;
    padding: 4em 0;
}
.bt_bb_map .bt_bb_map_content .bt_bb_map_content_wrapper .bt_bb_map_location {
	padding: 2em;
}

@media (max-width: 640px) {
	.bt_bb_map_content {
		padding: 0;	
		.bt_bb_map_content_wrapper {
			padding: 0;
		}		
	}
	.bt_bb_map.bt_bb_maps_with_content .bt_bb_map_map {
		height: 600px !important;
		position: relative;
	}	
}

/* Accordion */
.bt_bb_accordion {
	.bt_bb_accordion_item {
		position: relative;
		border-color: transparent !important;
		.bt_bb_accordion_item_title {
			padding-right: 2em;
		}
		.bt_bb_accordion_item_title:before {
			content: "\f068";
			line-height: 2.5em;
			font-family: FontAwesome;
			display: block;
			position: absolute;
			right: 0;
			top: 5px;
			right: 15px;
			text-align: center;
			z-index: 1;
			transition: all .35s;
		}
		.bt_bb_accordion_item_title:hover:before {
			transform: rotate(360deg);
		}
	}
	.bt_bb_accordion_item.on {
    	.bt_bb_accordion_item_title:before {
			content: "\f067";
			line-height: 2.5em;
			font-family: FontAwesome;
			display: block;
			position: absolute;
			right: 0;
			top: 5px;
			right: 15px;
			text-align: center;
			z-index: 1;
			transition: all .35s;
		}
	}
}


/* Counter  */

.bt_bb_counter_holder {
	height: auto;
	width: 100%;
	line-height: 1;
	display: inline-block;
	.bt_bb_counter {
		height: 1em;
		font-family: "$(headingFont)";
		/*font-weight: 300;*/
		span.onedigit {
			height: 1em;
			span {
				height: 1em;
			}
		}
	}
	.bt_bb_counter_content {
		display: flex;
		align-items: flex-start;
		:centerAlignSelector {display: block;}
		:rightAlignSelector {flex-direction: row-reverse;}
		.bt_bb_icon_holder {
			flex: 1 0 30%;
			border-right: 1px solid;
			border-color: inherit;
			:centerAlignSelector {border-right: none;}
			:rightAlignSelector {border-right: none; border-left: 1px solid; text-align: left;}
			text-align: center;
			&:before {
				display: block;
				:centerAlignSelector {margin-bottom: 0.2em;}
				:leftAlignSelector {margin: 0.05em 0.3em 0.05em 0em;}
				:rightAlignSelector {margin: 0.05em 0em 0.05em 0.3em;}
			}
		}
		.bt_bb_counter_box {
			flex: 1 0 70%;
			display: block;
			:leftAlignSelector {margin-left: 0.6em;}
			:rightAlignSelector {margin-right: 0.6em;}
			.bt_bb_counter_content_title {
				margin-top: -0.3em;
				.bt_bb_counter_title {
					font-size: 13px;
				}
			}
		}
	}
	&.bt_bb_size_xsmall {
		font-size: 1em;
		.bt_bb_icon_holder {
			font-size: 2.5em;
		}
	}
	&.bt_bb_size_small {
		font-size: 1.5em;
		.bt_bb_icon_holder {
			font-size: 2em;
		}
	}
	&.bt_bb_size_normal {
		font-size: 2.1em;
		.bt_bb_icon_holder {
			font-size: 1.8em;
		}
	}
	&.bt_bb_size_large {
		font-size: 3.3em;
		.bt_bb_icon_holder {
			font-size: 1.5em;
		}
	}
	&.bt_bb_size_xlarge {
		font-size: 4em;
		.bt_bb_icon_holder {
			font-size: 1.7em;
		}
	}
}

/* WPC7 Form */

.wpcf7-form {
	input:not([type='radio']), input:not([type='checkbox']), textarea, .fancy-select .trigger {
		.darkSkinSelector & {
			color: $(lightFontColor);
		}
	}
	.fancy-select .trigger {
		line-height: 3.2em;
	}
	.fancy-select .options.overflowing {
		bottom: 3.35em;
	}
	.wpcf7-submit {
		text-transform: uppercase;
		font-size: .8em !important;
		font-family: "$(bodyFont)" !important;
		font-weight: 700 !important;
		letter-spacing: 2px;
		box-shadow: 0 0 0 3em $(accentColor) inset;
		color: $(darkFontColor) !important;
		border: 0;
		transition: all 300ms ease;
		cursor: pointer;
		width: auto !important;
		padding: 1.4em 4.5em !important;
		height: 46px !important;
		&:hover {
			box-shadow: 0 0 0 0px $(accentColor) inset;
			background-color: $(lightBgColor);
			color: $(accentColor) !important;
		}
		.bt_bb_align_center & {
			margin-left: auto;
			margin-right: auto;
		}
		.bt_bb_align_right & {
			margin-left: auto;
		}
	}
}

/* Subscribe Form */
.btFooterSubscribe {
	display: flex;
	flex-direction: row;
	position: relative;
	input:not([type='checkbox']):not([type='radio']), select {
		height: 2.5rem !important;
		border-radius: 0px;
		border: none;
		background: $(lightBgSubColor);
	}
	.wpcf7-form-control-wrap {
		flex: 1 1 100%;
	}
	input[type='submit'] {
		font-family: "FontAwesome" !important;
		background: $(lightBorderColor) !important;
		border: none;
		box-shadow: none;
		color: $(darkFontColor) !important;
		width: 3.125rem !important;
		font-weight: 100 !important;
		padding: 0 !important;
		flex: 0 0 15%;
		border-radius: 0px !important;
		&:hover {
			background: $(accentColor) !important;
			color: $(darkFontColor) !important;
		}
	}
	.ajax-loader {
		position: absolute;
		margin: -8px -8px 0 0;
		right: 25px;
		top: 20px;
		background: transparent;
		border-radius: 50%;
		animation: btLoader 1.5s infinite linear;
		background: $(alternateColor);
		border: 2px solid $(alternateColor);
		border-top: 2px solid $(lightFontColor);
	}
	span.wpcf7-not-valid-tip {
		color: $(alternateColor);
	}
}

/* Triangle */

.bt_bb_triangle_right.bt_bb_column {
	position: relative;
	z-index: 1;
	.bt_bb_column_triangle_box {
		width: 0;
		height: 0;
		border-top: 30px solid transparent !important;
		border-bottom: 30px solid transparent !important;
		border-left: 40px solid;
		position: absolute;
		top: 50%;
		left: 40em;
		content: '';
		z-index: 3;
		margin-top: -15px;
		border-color: inherit;
		.bt_bb_layout_wide & {left: 100%;}
	}
}
.bt_bb_triangle_left.bt_bb_column {
	position: relative;
	.bt_bb_column_triangle_box {
		width: 0;
		height: 0;
		border-top: 30px solid transparent !important;
		border-bottom: 30px solid transparent !important;
		border-right: 40px solid;
		position: absolute;
		top: 50%;
		right: 40em;
		content: '';
		z-index: 3;
		margin-top: -15px;
		border-color: inherit;
		.bt_bb_layout_wide & {right: 100%;}
	}
}
.bt_bb_triangle_bottom.bt_bb_column {
	position: relative;
	.bt_bb_column_triangle_box {
		width: 0;
		height: 0;
		border-top: 40px solid;
		border-left: 30px solid transparent !important;
		border-right: 30px solid transparent !important;
		position: absolute;
		top: 100%;
		left: 50%;
		content: '';
		z-index: 3;
		margin-top: 0px;
		border-color: inherit;
		.bt_bb_layout_wide & {right: 100%;}
	}
}
.bt_bb_triangle_top.bt_bb_column {
	position: relative;
	.bt_bb_column_triangle_box {
		width: 0;
		height: 0;
		border-bottom: 40px solid;
		border-left: 30px solid transparent !important;
		border-right: 30px solid transparent !important;
		position: absolute;
		top: 0%;
		left: 50%;
		content: '';
		z-index: 3;
		margin-top: -40px;
		border-color: inherit;
		.bt_bb_layout_wide & {right: 100%;}
	}
}

@media (max-width: 1260px) {
	.bt_bb_column {
		&:any(.bt_bb_triangle_top, .bt_bb_triangle_bottom, .bt_bb_triangle_left, .bt_bb_triangle_right) {
			.bt_bb_column_triangle_box {
				display: none;
			}
		}
	}
}

/* Gallery lightbox arrows */

.mfp-arrow {
	color: $(accentColor) !important;
	&:before {
		font-family: Icon7Stroke !important;
		font-size: 7em;
		color: $(darkFontColor) !important;	
		border: none !important;
	}
	&:after {
		font-family: Icon7Stroke !important;
		font-size: 7em;
		color: $(darkFontColor) !important;
		border: none !important;
	}
	&.mfp-arrow-left {
		left: 0;
		&:before {content: '\e686' !important;}
	}
	&.mfp-arrow-right {
		right: 5%;
		&:before {content: '\e684' !important;}
	}
}