/* Product lists */
.woocommerce-result-count, .woocommerce-ordering {
	width: 50%;
	float: left;
	margin: 0;
	line-height: 2.5em;
	margin-bottom: 2em;
	.rtl & {
		float: right;
	}
}
.woocommerce-ordering {
	padding-left: 1em;
	.rtl & {
		padding-left: 0;
		padding-right: 1em;
	}
}
.products ul,
ul.products {
	margin: 0 -1em 2rem;
	padding: 0;
	list-style: none;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	li.product {
		width: 100%;
		padding: 0;
		margin: 0 0 3rem;
		position: relative;
		list-style: none;
		.woocommerce-page & {
			flex: 0 0 33.3333%;
		}
		.columns-2 & {
			flex: 0 0 50%;
		}
		.columns-3 & {
			flex: 0 0 33.3333%;
		}
		.columns-4 & {
			flex: 0 0 25%;
		}
		.columns-5 & {
			flex: 0 0 20%;
		}
		.columns-6 & {
			flex: 0 0 16.6666%;
		}
		&.first {
			clear: both;
		}
		.btWooShopLoopItemInner {
			border: 1px solid rgba(0,0,0,.05);
			padding: 0 1.2em 2em 1.2rem;
			margin: 0 0.5em;
			@fragment btClear;
			.bt_bb_image {
				margin-left: -1.25em;
				margin-right: -1.25em;
				margin-bottom: 1.75em;
				float: none;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					display: block;
					background: $(darkBgColor);
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					opacity: 0;
					pointer-events: none;
					transition: 300ms ease all;
				}
				&:after {
					font-size: 2rem;
					display: block;
					content: "\e900";
					font-family: Essential;
					width: 3.625rem;
					height: 3.625rem;
					line-height: 3.625rem;
					text-align: center;
					color: $(darkFontColor);
					position: absolute;
					left: 50%;
					top: 50%;
					margin: -1.8125rem 0 0 -1.8125rem;
					opacity: 0;
					z-index: 2;
					pointer-events: none;
					transition: 300ms ease all;
					transform: scale(.5);
					box-shadow: 0 0 0 1em $(accentColor) inset;
					border-radius: 50%;
				}
				> a > img {
					width: 100%;
				}
			}
			.bt_bb_headline {
				margin: 1em 0 0 0;
				.bt_bb_headline_subheadline {
					margin-bottom: 0em;
					.btNoStarRating:before {
						content: '-';
						opacity: 0;
					}
				}
			}
			.price {
				display: block;
				font-weight: 600;
				margin-bottom: 1em;
				@fragment btClear;
				del {
					color: inherit;
					opacity: .5;
					display: inline-block;
					margin: 0 5px 0 0;
				}
				ins {
					background: 0 0;
					text-decoration: none;
				}
				.from {
					font-size: .67em;
					margin: -2px 0 0;
					text-transform: uppercase;
					opacity: 0.5;
				}
			}
			a.button {
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				font-size: 0.8em;
				.btSoftRoundedButtons & { border-radius: $(softBorderRadius) }
				.btHardRoundedButtons & { border-radius: $(hardBorderRadius) }
			}
			.added:after, .loading:after {
				position: absolute;
				z-index: 5;
				right: 0;
				top: 0;
				font: 400 1.3em/1.7em WooCommerce;
				vertical-align: middle;
				text-align: center;
				-webkit-font-smoothing: antialiased;
				width: 1.7em;
				height: 1.7em;
				margin: -0.85em -0.85em 0 0;
				border-radius: 50%;
				background-color: $(accentColor);
				color: #fff;
			}
			.loading:after {
				content: "\e01c";
				animation: spin 2s linear infinite;
			}
			.added:after {
				content: "\e017";
			}
			.added_to_cart {
				font-size: .8em;
				margin-left: 0.5em;
				color: $(accentColor);
			}
			&:hover {
				.bt_bb_image {
					&:before {
						opacity: .5;
					}
					&:after {
						opacity: 1;
						transform: scale(1);
						transition-delay: 100ms;
					}
				}
			}
		}
		.onsale {
			position: absolute;
			top: 1em;
			right: 2em;
			left: auto;
			background: $(alternateColor);
			color: white;
			opacity: 0.9;
			z-index: 1;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			border-radius: 50%;
		}
	}
}

/* Pagination */
.woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
	display: inline-block;
}
nav.woocommerce-pagination {
	clear: both;
	display: block;
	text-align: center;
	margin-bottom: 3em;
	ul {
		display: inline-block;
		padding: 0;
		margin: 0;
		li {
			margin: 0;
			padding: 0 0.2em;
			display: inline-block;
			a, span {
				margin: 0;
				padding: 0;
				width: 2em;
				text-align: center;
				line-height: 2em;
				font-weight: 700;
				display: block;
				border: none;
				box-shadow: 0 0 0 2px $(lightFontColor) inset;
				color: $(lightFontColor);
				transition: all 300ms ease;
				.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
				.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
			}
			a:focus,
			a:hover,
			a.next,
			a.prev,
			span.current {
				box-shadow: 0 0 0 2em $(lightFontColor) inset;
				border: none;
				color: #fff;
			}
		}
	}
}

/* Single product */
div.product {
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	margin: 0 -1em;
	position: relative;
	.onsale {
		position: absolute;
		top: 1em;
		left: 2em;
		background: $(alternateColor);
		color: white;
		opacity: 0.9;
		z-index: 1;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-radius: 50%;
		.rtl & {
			left: 0;
			right: 2em;
		}
	}
	div.images {
		flex: 0 0 50%;
		padding: 0 .5em;
		margin: 0 0 1em;
		position: relative;
		.woocommerce-product-gallery__trigger {
			position: absolute;
			z-index: 1;
			width: 2em;
		}
		.woocommerce-product-gallery__wrapper {
			display: flex;
			flex-wrap: wrap; 
			.woocommerce-product-gallery__image {
				padding: 1em 0.5em;
				a {
					position: relative;
					display: block;
					img {
						border: 1px solid rgba(0,0,0,.05);
						width: 100%;
					}
				}
				&:first-child {
					flex: 0 1 100%;
					padding: 0;
					margin: 0 0.5em;
					border: 1px solid rgba(0,0,0,.05);
					img {
						border: none;
						display: block;
					}
				}
			}
		}
		&.woocommerce-product-gallery--columns-1 .woocommerce-product-gallery__image {
			flex: 0 0 100%;
		}
		&.woocommerce-product-gallery--columns-2 .woocommerce-product-gallery__image {
			flex: 0 0 50%;
		}
		&.woocommerce-product-gallery--columns-3 .woocommerce-product-gallery__image {
			flex: 0 0 33.3333%;
		}
		&.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image {
			flex: 0 0 25%;
		}
		&.woocommerce-product-gallery--columns-5 .woocommerce-product-gallery__image {
			flex: 0 0 20%;
		}
		&.woocommerce-product-gallery--columns-6 .woocommerce-product-gallery__image {
			flex: 0 0 16.666%;
		}
		/* Woocommerce v3 images thumbnails update */
		.woocommerce-product-gallery__image {
			float: left;
			padding: 0 $(innerHorizontalPadding)px math($(innerVerticalPadding)/2)px 0;
			img {
				border: 0;
			}
			&:first-child {
				float: none;
				overflow: hidden;
				margin: 0 $(innerHorizontalPadding)px math($(innerVerticalPadding)/2)px 0;
				padding: 0;
				width: auto !important;
			}
		}
		.woocommerce-product-gallery__trigger {
			position: absolute;
			right: math($(menuVerticalPadding)*3.5)px;
			top: $(menuVerticalPadding)px;
			font-size: 0;
			line-height: 0;
			z-index: 1;
			&:after {
				display: block;
				font-family: FontAwesome;
				content: "\f002";
				box-shadow: 0 0 0 2em $(accentColor) inset, 0 0 0 2em rgba(255,255,255,.5) inset;
				border-radius: 50%;
				font-size: math($(bodyFontSize)*1.2)px;
				color: $(darkFontColor);
				width: math($(bodyFontSize)*2.3)px;
				line-height: math($(bodyFontSize)*2.3)px;
				text-align: center;
				transition: 300ms ease all;
			}
			&:hover:after {
				box-shadow: 0 0 0 1px $(accentColor) inset, 0 0 0 2em rgba(255,255,255,.5) inset;
				color: $(accentColor);
			}
		}
		/* End of WooCommerce v3 update */
	}
	div.summary {
		flex: 0 0 50%;
		padding: 1em;
		margin-bottom: 1em;
		header {
			margin-bottom: 2em;
		}
		.price {
			font-size: 2em;
		}
		.group_table .price {
			font-size: 2em;
		}
		div[itemprop="description"] {
			margin-bottom: 2em;
		}
		form.cart {
			.quantity {
				width: 100px;
				margin-right: 0.5em;
				display: inline-block;
				height: 2.8em;
				.rtl & {
					margin-right: 0;
					margin-left: 0.5em;
					float: right;
				}
				input {
					height: 2.85em;
					display: inline-block;
				}
			}
			.group_table .quantity {
				width: 50px;
			}
			.single_add_to_cart_button {
				display: inline-block;
				height: 3em;
			}
			@fragment btClear;
		}

	}
	span.btProductSKU {
		display: block;
	}
	div.product-description, div.products, div.product-meta, section.products.related {
		padding: 0 1em;
		flex: 0 0 100%;
	}
	div.product-meta .btArticleShareEtc {
		max-width: initial; 
	}
	table.variations {
		border: none;
		display: block;
		tbody, tr, td {
			padding: 0;
			border: none;
			display: block;
		}
	}
	section.products.upsells {
		width: 100%;
	}
}

/* Card */
table.shop_table {
	.coupon {
		display: inline-flex;
		align-items: center;
		label {
			margin-right: 0.5em;
		}
		.input-text {
			margin-right: 0.5em;
			color: $(accentColor);
			border: none !important;
			padding: 0;
			height: 2em;
			padding: 0 0.5em;
		}
		input:not([type='checkbox']):not([type='radio']), select {
			height: auto !important;
		}
	}
	button[name="apply_coupon"] {
		width: 100%;
	}
	input[name="update_cart"] {
		float: right;
		width: 300px;
	}
}
table.shop_table {
	margin-bottom: 2em;
	border: none;
	td, th {
		border-left: none;
		border-right: none;
	}
	td.product-remove {
		width: 3em;
		a.remove {
			display: inline-block;
			font-size: 1em;
			text-align: center;
			padding: 0;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.3em;
			color: $(accentColor);
			background-color: transparent;
			border: 1px solid $(accentColor);
			border-radius: 50%;
		}
		a.remove:hover {
			background-color: $(accentColor);
			color: $(lightBgColor);
		}
	}
	td.product-thumbnail {
		width: 100px;
		text-align: center;
		line-height: 0;
		img {
			width: 80px;
			height: auto;
			display: inline-block;
			box-shadow: none;
		}
	}
	.product-quantity {
		text-align: center;
		.quantity {
			width: 70px;
			display: inline-block;
		}
	}
	.product-subtotal, .product-total, .product-price, .order-actions {
		text-align: right;
	}	
}

.cart-collaterals {
	display: flex;
	.cross-sells, .cart_totals {
		flex: 1 1 50%;
	}
	.cross-sells ul.products li.product {
		flex: 0 0 50%;
	}
	.cart_totals {
		th {
			text-align: left; 
		}
		td {
			text-align: right; 
		}
	}
}	
tr.cart-subtotal, tfoot {
	border-top: 2px solid $(lightBackgroundColor);
}
tr.order-total, tfoot {
	border-bottom: 2px solid $(lightBackgroundColor);
}

/* Checkout */
table.woocommerce-checkout-review-order-table {
	td.product-total, tr.cart-subtotal td, tr.order-total td {
		text-align: right;
	}
}
ul.wc_payment_methods {
	margin: 0;
	list-style: none;
	li {
		&:not(.woocommerce-info) {
			margin-left: 0;
			padding-left: 0;
		}
		
		.input-radio {
			margin-right: 0.2em;
		}
		img {
			max-height: 40px;
			margin-left: 10px;
			vertical-align: middle;
		}
		.about_paypal {
			margin-left: 0.5em;
			color: $(accentColor);
		}
	div.payment_box {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding: 10px;
			margin: 10px 0;
			background-color: #dfdcde;
			&:before {
				content: "";
				display: block;
				border: 10px solid #dfdcde;
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				left: 1em;
				top: -20px;
			}
			span.help {
				font-size: .857em;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}
ul.woocommerce-shipping-methods {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
	li {
		margin: 0;
		text-align: right;
		.rtl & {
			text-align: left;
		}
	}
}
p.form-row.validate-required {
	margin-bottom: 2em;
}
#customer_details {
	.col-1, .col-2 {
		margin-bottom: 2em;	
	}
}
.wc-proceed-to-checkout {
	margin: 0 auto;
	text-align: center;
	width: fit-content;
	height: 3.2em;
	.checkout-button {
		margin: 0 auto;
		display: inline;
		text-align: center;
	}
}
#payment .place-order {
	margin: 0 auto;
	text-align: center;
}

/* My account */
.woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
		margin: 0 0 2em 0;
		padding: 0;
		li {
			margin: 0 0.5em 0 0;
			padding: 0;	
			display: inline-block;
			a {
				display: inline-block;
				padding: 0.5em 1em;
				border-bottom: 2px solid $(accentColor);
			}
			&.is-active a {
				color:  $(lightFontColor);
				border-color: $(lightFontColor);
			}
		}
	}
	.shop_table {
		margin-bottom: 2em;
		tfoot {
			text-align: right;
		}
	}
}

.woocommerce-orders-table__cell-order-actions a {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.woocommerce-EditAccountForm fieldset {
	margin-bottom: 2em;
}

/* General */

/* Woocommerce layout */

.col2-set,
.col2-set {
	width: 100%;
}
.col2-set .col-1,
.col2-set .col-1 {
	float: left;
	width: 48%;
}
.col2-set .col-2,
.col2-set .col-2 {
	float: right;
	width: 48%;
}
img {
	height: auto;
	max-width: 100%;
}	
div.product form.cart .reset_variations, form .form-row label.hidden {
	visibility: hidden;
}

/* Form row */

form {
	fieldset {
		padding: 2em;
		border: 1px solid $(lightBorderColor);
	}
	.form-row {
		margin: 0 0 1em;
	}
	input[type="submit"].button {
		text-align: center;
	}
	.form-row [placeholder]:focus::-webkit-input-placeholder {
		transition: opacity .5s .5s ease;
		opacity: 0;
	}

	.form-row {
		label {
			display: block;
			margin-bottom: 0.5em;
		}
		label.inline, label.checkbox {
			display: inline;
			margin-bottom: 0em;
		}
		select {
			cursor: pointer;
			margin: 0;
		}
		.select2-container {
			line-height: 2.5em;
			.rtl& {text-align: right;}
			.select2-choice {
				padding-left: 1em;
				height: 3.2em;
				line-height: 3.2em;
				.rtl& {
					padding-left: 0;
					padding-right: 1em;
				}
			}
		}
		.required {
			color: red;
			font-weight: 700;
			border: 0;
		}
		.input-checkbox {
			margin: 0 8px 0 0;
			vertical-align: middle;
			width: auto;
			display: inline;
		}
		textarea {
			height: 5em;
			display: block;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.form-row.woocommerce-invalid .select2-container,
	.form-row.woocommerce-invalid input.input-text,
	.form-row.woocommerce-invalid select {
		border-color: #a00;
	}
	.form-row.woocommerce-validated .select2-container,
	.form-row.woocommerce-validated input.input-text,
	.form-row.woocommerce-validated select {
		border-color: #69bf29;
	}
	.form-row::-webkit-input-placeholder {
		line-height: normal;
	}
	.form-row:-moz-placeholder {
		line-height: normal;
	}
	.form-row:-ms-input-placeholder {
		line-height: normal;
	}
}

/* Overlay */

.blockUI.blockOverlay {
	position: relative;
}
.blockUI.blockOverlay:before,
.loader:before {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -.5em;
	margin-top: -.5em;
	display: block;
	content: "";
	animation: spin 1s ease-in-out infinite;
	background: url(../../../plugins/woocommerce/assets/images/icons/loader.svg) center center;
	background-size: cover;
	line-height: 1;
	text-align: center;
	font-size: 2em;
	color: rgba(0, 0, 0, .75);
}

/* Messages */

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	padding: 1em 1em 1em 3em;
	margin: 0 0 2em;
	position: relative;
	background-color: $(lightBgSubColor);
	color: inherit;
	border-top: 4px solid $(lightHeadlineColor);
	list-style: none !important;
	width: auto;
	word-wrap: break-word;
}
.woocommerce-info,
.woocommerce-message {
	a: not(.button) {
		color: $(accentColor);
		text-decoration: underline;
	}
}
.woocommerce-error {
	border-top-color: #b81c23;
	a {
		color: #b81c23;
	}
}
.woocommerce-info,
.woocommerce-message {
	/* border-top-color: $(accentColor); */
	a:hover {
		text-decoration: none;
	}
}
.woocommerce-error a:hover {
	color: $(darkFontColor);
}
.woocommerce-error:after,
.woocommerce-info:after,
.woocommerce-message:after {
	content: " ";
	display: table;
	width: 100%;
	clear: both;
}
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
	font-family: Icon7Stroke;
	font-size: 1.5em;
	font-weight: 400;
	position: absolute;
	left: 0.5em;
}
.woocommerce-message:before,
.woocommerce-info:before {
	content: "\e647";
	color: $(accentColor);
}
.woocommerce-error:before {
	content: '\e67b';
	color: #b81c23;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	.button {
		float: right;
		border: none !important;
		padding: 0.2em 1em !important;
		line-height: inherit !important;
	}
	li {
		list-style: none!important;
		padding-left: 0!important;
		margin-left: 0!important;
	}
}
small.note {
	display: block;
	color: #777;
	font-size: .857em;
	margin-top: 10px;
}
.woocommerce-breadcrumb {
	margin: 0 0 1em;
	padding: 0;
	font-size: 0.92em;
	a {
		color: inherit;
	}
}
.woocommerce-breadcrumb:after,
.woocommerce-breadcrumb:before {
	content: " ";
	display: table;
}

/* Payment images */

.wc-credit-card-form-card-cvc.visa,
.wc-credit-card-form-card-expiry.visa,
.wc-credit-card-form-card-number.visa {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/visa.png);
}
.wc-credit-card-form-card-cvc.mastercard,
.wc-credit-card-form-card-expiry.mastercard,
.wc-credit-card-form-card-number.mastercard {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/mastercard.png);
}
.wc-credit-card-form-card-cvc.laser,
.wc-credit-card-form-card-expiry.laser,
.wc-credit-card-form-card-number.laser {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/laser.png);
}
.wc-credit-card-form-card-cvc.dinersclub,
.wc-credit-card-form-card-expiry.dinersclub,
.wc-credit-card-form-card-number.dinersclub {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/diners.png);
}
.wc-credit-card-form-card-cvc.maestro,
.wc-credit-card-form-card-expiry.maestro,
.wc-credit-card-form-card-number.maestro {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/maestro.png);
}
.wc-credit-card-form-card-cvc.jcb,
.wc-credit-card-form-card-expiry.jcb,
.wc-credit-card-form-card-number.jcb {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/jcb.png);
}
.wc-credit-card-form-card-cvc.amex,
.wc-credit-card-form-card-expiry.amex,
.wc-credit-card-form-card-number.amex {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/amex.png);
}
.wc-credit-card-form-card-cvc.discover,
.wc-credit-card-form-card-expiry.discover,
.wc-credit-card-form-card-number.discover {
	background-image: url(../../../plugins/woocommerce/assets/images/icons/credit-cards/discover.png);
}

/* Inpage headlines */

.products, div.bt_bb_tab_content, 
.cross-sells, 
.comment-respond, 
section.related.products, 
div.cart_totals, 
div.woocommerce-billing-fields, 
div.woocommerce-additional-fields,
div.woocommerce-shipping-fields, 
form.woocommerce-checkout, 
div.woocommerce-MyAccount-content, 
div.woocommerce-MyAccount-content header, 
div.woocommerce-MyAccount-content form, 
.woocommerce-customer-details, 
.woocommerce-order-details {
	> :hTagSelector {
		margin: 0 0 1em;
		padding: 0;
		font-size: 1.4em;
	}
}

/* Buttons */
:any(.woocommerce, .woocommerce-page) :any(.btSidebar, .btContent), div.woocommerce { 
	a.button,
	input[type="submit"],
	button[type="submit"],
	input.button,
	input.alt:hover,
	a.button.alt:hover,
	.button.alt:hover,
	button.alt:hover {
		line-height: 1;
		text-transform: uppercase;
		font-weight: 700;
		padding: 1em 1.2em;
		font-size: 0.9em;
		cursor: pointer;
		background-color: transparent;
		.btHardRoundedButtons& {border-radius: 50px;}
		.btSoftRoundedButtons& {border-radius: 3px;}
	}
	a.button,
	input[type="submit"],
	button[type="submit"],
	input.button,
	input.alt:hover,
	a.button.alt:hover,
	.button.alt:hover,
	button.alt:hover {
		box-shadow: 0 0 0 2px $(lightFontColor) inset;
		background: transparent;
		color: $(lightFontColor);
		border: none;
		transition: all 300ms ease;
	}
	a.button:hover,
	input[type="submit"]:hover,
	button[type="submit"]:hover,
	input.button:hover,
	input.alt,
	a.button.alt,
	.button.alt,
	button.alt {
		box-shadow: 0 0 0 3em $(lightFontColor) inset;
		background-color: $(lightFontColor);
		color: $(darkFontColor);
		border: none;
	}
	a.checkout-button,
	input#place_order,
	input[name="save_address"] {
		width: 100%;
		float: none;
		display: block;
		text-align: center !important;
	}
}

/* Star rating */

.star-rating:before {
	content: "\f005\f005\f005\f005\f005";
	letter-spacing: 3px;
	opacity: 0.2;
}
.star-rating {
	overflow: hidden;
	position: relative;
	line-height: 1;
	font-family: FontAwesome;
	margin: 0;
	display: inline-block;
	.rating {
		display: none;
	}
	span {
		overflow: hidden;
		top: 0;
		left: 0;
		position: absolute;
		.rtl & {
			left: auto;
			right: 0;
		}
	}
	span:before {
		content: "\f005\f005\f005\f005\f005";
		letter-spacing: 3px;
		color: $(accentColor);
	}
	.header.large & {
		line-height: inherit;
		margin-top: 2px;
	}
	.widget_recent_reviews & {
		font-size: 12px;
	}
	.products & {
		margin: 7px 0 0;
		font-size: 1.5em;
	}
}
.widget_recent_reviews {
	li a:after, .reviewer:after {
		display: table;
		content: ' ';
	}
}

/* Comment stars */

p.stars {
	position: relative;
	letter-spacing: 0.25em;
	margin-bottom: 3em;
	a {
		display: inline-block;
		font-weight: 700;
		text-indent: -9999px;
		position: relative;
		border-bottom: 0 !important;
		outline: 0;
		position: absolute;
		top: 0;
		left: 0;
		.rtl & {
			left: auto;
			right: 0;
		}
	}
	a:last-child {
		border-right: 0;
	}
	a[class^="star-"]:after {
		font-family: FontAwesome;
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
		color: $(lightBorderColor);
		.rtl & {
			left: auto;
			right: 0;
		}
	}
	a[class^="star-"].active:after,
	a[class^="star-"]:hover:after {
		color: $(accentColor);
	}
	a.star-1 {
		width: 1em;
		z-index: 10;
	}
	a.star-1:after {
		content: "\f005";
	}
	a.star-2 {
		width: 2em;
		z-index: 9;
	}
	a.star-2:after {
		content: "\f005\f005";
	}
	a.star-3 {
		width: 3em;
		z-index: 8;
	}
	a.star-3:after {
		content: "\f005\f005\f005";
	}
	a.star-4 {
		width: 4em;
		z-index: 7;
	}
	a.star-4:after {
		content: "\f005\f005\f005\f005";
	}
	a.star-5 {
		width: 5em;
		border: 0;
		z-index: 6;
	}
	a.star-5:after {
		content: "\f005\f005\f005\f005\f005";
	}
}

/* Search widget in Sidebar */
.woocommerce-page .btSidebar .widget_search button {
	box-shadow: 0 0 0 2em $(darkBgColor) inset !important;
	transition: all 300ms ease;
	&:hover {
		box-shadow: 0 0 0 0 $(darkBgColor) inset !important;
		background-color: $(accentColor) !important;
	}
}
/* Star rating */
span.btNoStarRating {
	display: none;
}
/* Reviews */
#review_form_wrapper .comment-respond {
	.form-submit input {
		width: auto;
		margin: 0 auto;
		padding: 0 2.5em;
	}
}

/* Spin animation */

@keyframes spin {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(100%);
	}
}

/* Woo fonts */

@font-face {
	font-family: star;
	src: url(../../../plugins/woocommerce/assets/fonts/star.eot);
	src: url(../../../plugins/woocommerce/assets/fonts/star.eot?#iefix) format("embedded-opentype"), url(../../../plugins/woocommerce/assets/fonts/star.woff) format("woff"), url(../../../plugins/woocommerce/assets/fonts/star.ttf) format("truetype"), url(../../../plugins/woocommerce/assets/fonts/star.svg#star) format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: WooCommerce;
	src: url(../../../plugins/woocommerce/assets/fonts/WooCommerce.eot);
	src: url(../../../plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../../../plugins/woocommerce/assets/fonts/WooCommerce.woff) format("woff"), url(../../../plugins/woocommerce/assets/fonts/WooCommerce.ttf) format("truetype"), url(../../../plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce) format("svg");
	font-weight: 400;
	font-style: normal;
}


/* Checkout Select Country */
form .form-row .select2-container .select2-selection--single {
	height: 3em;
	background-color: transparent;
	:lightSkinSelector & {
		border: 1px solid $(lightBorderColor);
	}
	:darkSkinSelector & {
		border: 1px solid $(darkBorderColor);
	}
	.btHardRoundedButtons & {
		border-radius: 50px;
		padding-left: 0.8em;
		padding-right: 0.8em;
	}
	.btSoftRoundedButtons & { border-radius: 3px; }
}
.select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 2.8;
	padding: 0 .3em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	left: -20%;
	top: 90%;
}
.select2-dropdown {
	border: 1px solid rgba(0,0,0,.1);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(0,0,0,.1);
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: $(accentColor);
}