/* Cost Calculator */

.btQuoteBooking {
	
	/* Next button */
	.btContactNext {
		border-color: $(accentColor);
		color: $(accentColor);
		border-radius: 0;
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
		.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
	}
	
	/* Quote items */
	.btQuoteSlider {
		border-radius: 0;
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
		.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
		:lightSkinSelector & {
			background-color: transparent;
			border: 1px solid $(lightBorderColor);
			color: $(lightFontColor);
		}
		:darkSkinSelector & {
			background-color: transparent;
			border: 1px solid $(darkBorderColor);
			color: $(darkFontColor);
		}
		:accentSkinSelector & {
			&::-webkit-input-placeholder {
				color: $(lightBorderColor);
			}
		}
	}
	
	/* Switch */
	.btQuoteSwitch {
		:lightSkinSelector & {
			border: 1px solid $(lightBorderColor);
		}
		:darkSkinSelector & {
			border: 1px solid $(darkBorderColor);
		}
		.btQuoteSwitchInner {
			background: $(lightBorderColor);
			:lightSkinSelector & {
				background: $(lightBorderColor);
			}
			:darkSkinSelector & {
				background: $(darkBorderColor);
			}
		}
		&.on .btQuoteSwitchInner {
			background: $(accentColor);
		}
	}
	
	/* Standard fields */ 
	textarea,
	input[type="text"], 
	input[type="email"], 
	input[type="password"],
	.fancy-select .trigger, 
	.ddcommon.borderRadius .ddTitleText, 
	.ddcommon.borderRadiusTp .ddTitleText, 
	.ddcommon.borderRadiusBtm .ddTitleText {
		height: 3.2em;
		border-radius: 0;
		/*.btHardRoundedButtons & { border-radius: $(hardBorderRadius); }*/
		.btHardRoundedButtons & { border-radius: $(softBorderRadius); }
		.btSoftRoundedButtons & { border-radius: $(softBorderRadius); }
		&:focus {
			box-shadow: 0 0 4px 0 $(accentColor);
			border: 1px solid $(lightFontColor);
		}
		:lightSkinSelector & {
			background-color: transparent;
			border: 1px solid $(lightBorderColor);
			color: $(lightFontColor);
			&:focus {
				box-shadow: 0 0 4px 0 $(accentColor);
				border: 1px solid $(lightFontColor);
			}
		}
		:darkSkinSelector & {
			background-color: transparent;
			border: 1px solid $(darkBorderColor);
			color: $(darkFontColor);
			&:focus {
				box-shadow: 0 0 4px 0 $(accentColor);
				border: 1px solid $(darkFontColor);
			}
		}
		:accentSkinSelector & {
			&::-webkit-input-placeholder {
				color: $(lightBorderColor);
			}
		}
	}
	.btQuoteItem textarea {
		.btHardRoundedButtons & {
			border-radius: $(softBorderRadius);
		}
	}
	.dd.ddcommon.borderRadiusTp .ddTitleText, 
	.dd.ddcommon.borderRadiusBtm .ddTitleText {
		box-shadow: 5px 0 0 $(accentColor) inset, 0 2px 10px rgba(0,0,0,0.2);
	}
	
	/* Slider */
	.btQuoteWrapper:before {
		:lightSkinSelector &  {
			border: 1px solid $(lightBorderColor);
		}
		:darkSkinSelector & {
			border: 1px solid $(darkBorderColor);
		}		
	}
	
	/* Select */
	
	.ddTitleText {
		.ddlabel {
			color: inherit;
			.description {
				color: inherit;	
				opacity: 0.8;		
			}
		}
		&.btNotSelected	.ddlabel {
			opacity: 0.8;
			color: inherit;
		}	
	}

	/* Slider handle */
	.ui-slider .ui-slider-handle {
		background: $(accentColor);
	}
	.btQuoteSliderValue {
		color: $(darkFontColor);
		:accentSkinSelector & {
			color: $(lightFontColor);
		}
	}

	/* Total */
	.btQuoteBookingForm .btQuoteTotal {
		color: $(darkFontColor);
		background: $(accentColor);
		font-size: 1em;
		border-radius: 0;
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius); overflow: hidden;}
		.btSoftRoundedButtons & {border-radius: $(softBorderRadius); overflow: hidden;}
		.btQuoteTotalCalc {
			border-radius: 0;
		}
		&:not(.currencyAfter) {
			.btQuoteTotalCalc {
				.btHardRoundedButtons & { border-top-right-radius: $(hardBorderRadius);  border-bottom-right-radius: $(hardBorderRadius); overflow: hidden;}
				.btSoftRoundedButtons & { border-top-right-radius: $(softBorderRadius);  border-bottom-right-radius: $(softBorderRadius); overflow: hidden;}					
			}
		}
		&.currencyAfter {
			.btQuoteTotalCalc {
				.btHardRoundedButtons & { border-top-left-radius: $(hardBorderRadius);  border-bottom-left-radius: $(hardBorderRadius); overflow: hidden;}
				.btSoftRoundedButtons & { border-top-left-radius: $(softBorderRadius);  border-bottom-left-radius: $(softBorderRadius); overflow: hidden;}						
			}
		}
		.btQuoteTotalCurrency {
			border-radius: 0;
		}
		&:not(.currencyAfter) {
			.btQuoteTotalCurrency {
				.btHardRoundedButtons & { border-top-left-radius: $(hardBorderRadius);  border-bottom-left-radius: $(hardBorderRadius); overflow: hidden;}
				.btSoftRoundedButtons & { border-top-left-radius: $(softBorderRadius);  border-bottom-left-radius: $(softBorderRadius); overflow: hidden;}					
			}
		
		}
		&.currencyAfter {
			.btQuoteTotalCurrency {
				.btHardRoundedButtons & { border-top-right-radius: $(hardBorderRadius);  border-bottom-right-radius: $(hardBorderRadius); overflow: hidden;}
				.btSoftRoundedButtons & { border-top-right-radius: $(softBorderRadius);  border-bottom-right-radius: $(softBorderRadius); overflow: hidden;}					
			}
		}
	}

	/* Error fields validation */
	.btContactFieldMandatory.btContactFieldError input,
	.btContactFieldMandatory.btContactFieldError textarea {
		box-shadow: 0 0 0 1px $(accentColor) inset;
		border-color: $(accentColor);
		&:focus {
			:lightSkinSelector & {
				box-shadow: 0 0 0 1px $(lightFontColor) inset !important;
				border-color: $(lightFontColor);
			}
			:darkSkinSelector & {
				border-color: $(lightFontColor);
				box-shadow: 0 0 0 1px $(darkFontColor) inset !important;
			}
		}
		:accentSkinSelector & {
			box-shadow: 0 0 0 1px $(darkFontColor) inset;
			border-color: $(darkFontColor);
			&:focus {
				box-shadow: 0 0 0 1px $(lightFontColor) inset !important;
				border-color: $(lightFontColor);
			}
		}
	}
	.btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadius .ddTitleText {
		box-shadow: 0 0 0 2px $(accentColor) inset;
	}
	.btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadiusTp .ddTitleText,
	.btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadiusBtm .ddTitleText {
		box-shadow: 0 0 0 2px $(lightFontColor) inset !important;
	}
	.btSubmitMessage {
		color: $(accentColor);
	}
	.dd.ddcommon.borderRadiusTp .ddTitleText, 
	.dd.ddcommon.borderRadiusBtm .ddTitleText {
		box-shadow: 0 0 4px 0 $(accentColor);
		:lightSkinSelector & {
			border: 1px solid $(lightFontColor);
		}
		:darkSkinSelector & {
			border: 1px solid $(darkFontColor);
		}
	}

	/* Submit button */
	.btContactSubmit {
		line-height: inherit;
		background-color: $(accentColor);;
	}

	/* Transfer Quote total to Flex
	-------------------------------------------*/
	.btTotalNextWrapper {
		display: flex;
		width: auto !important;
		flex-direction: row;
		padding-right: 0 !important;
		flex-wrap: nowrap;
		flex: 0 0 100%;
		justify-content: flex-end;
		text-align: initial;
	}
	.btTotalNextWrapper:after {
		display: none;
	}
	.btQuoteBookingForm.btActive .btTotalNextWrapper {
		padding-right: 0 !important;
	}
	.btQuoteBookingForm.btActive .boldBtn {
		flex: 0 0 160px;
		width: 160px;
		max-width: 160px;
	}
	.btQuoteBookingForm .boldBtn {
		display: flex;
		flex: 0 1 0px;
		float: none;
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: 0;
		transition: all 300ms ease;
		max-width: 0;
	}

	.btContactNext {
		transform: translate(160px,0);
	}
	.btQuoteBookingForm .btQuoteTotal {
		display: flex;
		flex: 0 1 100%;
		justify-content: flex-end;
		align-items: stretch;
		float: none;
	}
	.btQuoteTotalText {
		align-self: center;
	}
	.btQuoteContact:not(.btQuoteContactForm7) {
		margin: 0 -10px 0px -10px;
	}

	/* Paypal button
	-------------------------------------------*/
	.btPayPalButton {
		border-radius: 0;
		.btHardRoundedButtons & { border-radius: $(hardBorderRadius); }
		.btSoftRoundedButtons & { border-radius: $(softBorderRadius); }
	}	
}

/* Date picker */
.btDatePicker .ui-datepicker-header {
	background-color: $(accentColor);
}


/* Transfer Quote total to Flex, responsive
-------------------------------------------*/
@media (max-width: 440px) {
	.btQuoteBooking .btTotalNextWrapper {
		flex-direction: column;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .boldBtn, 
	.btQuoteBooking .btQuoteBookingForm .boldBtn {
		flex: 1 0 100%;
		width: 100%;
		max-width: 100%;
		padding-top: 0;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .btContactNext, 
	.btQuoteBooking .btQuoteBookingForm .btContactNext {
		width: 100%;
	}
	.btQuoteBooking .btQuoteBookingForm .btContactNext {
		transform: translateY(-100%);
		opacity: 0;
	}
}
