@media (max-width: 1400px) { 
	
	/* Typography breakpoint start 1350 */
	
	.bt_bb_headline {
		h1,h2,h3,h4,h5,h6 {
			.bt_bb_size_huge& { 
				font-size: 3.6rem; 
			}
			.bt_bb_size_extralarge& { 
				font-size: 2.8rem; 
			}
		}
	}
	
	/* /Typography breakpoint */
}

@media (max-width: 1199px) {

	/* Typography breakpoint start 1200 */
	
	.bt_bb_headline {
		h1,h2,h3,h4,h5,h6 {
			.bt_bb_size_huge& { 
				font-size: 3rem; 
			}
		}
	}
	
	body { font-size: 14px; } 

	/* /Typography breakpoint */

}

@media (max-width: 360px) {
	
	/* Typography breakpoint start 360 */
	
	.bt_bb_headline {	
		h1,h2,h3,h4,h5,h6 {
			.bt_bb_size_huge& { 
				font-size: 2.8rem; 
			}
			.bt_bb_size_extralarge& { 
				font-size: 2.2rem; 
			}
			.bt_bb_size_large& { 
				font-size: 1.6rem; 
			}
		}
		.bt_bb_headline_subheadline {
			.bt_bb_size_huge& {
				font-size: 1rem !important;
			}
			.bt_bb_size_extralarge& {
				font-size: 1rem !important;
			}
			.bt_bb_size_large& {
				font-size: 1em !important;
			}
		}
	}
	
	body { font-size: 13px; } 

	/* Typography breakpoint */
	
	.btMenuVertical .mainHeader {
		width: 260px;
	}
	
	.btMenuVerticalLeft.btMenuVerticalOn {
		.btContentWrap,  .btVerticalHeaderTop, .btSiteFooter {
			transform: translateX(260px);
			.rtl& {transform: translateX(-260px);}
		}
	}

	.btMenuVerticalRight.btMenuVerticalOn .btContentWrap {
		transform: translateX(-260px);
	}

	.btMenuVerticalLeft.btMenuVertical.btStickyHeaderActive.btMenuVerticalOn.btStickyHeaderOpen .btVerticalHeaderTop {
		transform: translateX(260px) !important;
	}
}